buidl @ git+https://github.com/buidl-bitcoin/buidl-python@c0b7d57
multiformats
pydid
jcs
bitcoinrpc
sparse-merkle-tree
ipfshttpclient
ipfs-cid
di-bip340 @ git+https://github.com/LegReq/di-bip340-python
base58
jsonpatch